<!-- section blogs -->
<section class="blogs">
    <div class="container">
    <h1 class="blogs-title">Blog</h1>
    <!-- panel-->
    <div class="blogs-box">
    <load ="../repeating-elements/panel.html" /> 

    <!-- list of cards -->
    <ul class="blogs-list">
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <div class="blogs-connecting">
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
        </div>
        <div class="blogs-line"></div>
            <p class="blogs-description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <div class="blogs-connecting">
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
        </div>
        <div class="blogs-line"></div>
            <p class="blogs-description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <div class="blogs-connecting">
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
        </div>
        <div class="blogs-line"></div>
            <p class="blogs-description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <div class="blogs-connecting">
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
        </div>
        <div class="blogs-line"></div>
            <p class="blogs-description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
    </ul>
</div>

    <!-- list of button -->
<ul class="blogs-button-list">
    <li class="blogs-button-item">
        <button type="button" class="blogs-button">1</button>
    </li>
    <li class="blogs-button-item">
        <button type="button" class="blogs-button">2</button>
    </li>
    <li class="blogs-button-item">
        <button type="button" class="blogs-button">></button>
    </li>
</ul>
</div>
</section>