<!-- section blogs -->
<section class="blogs">
    <h2 class="blogs-title">Blog</h2>
    <!-- list of cards -->
    <ul class="blogs-list">
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
            <p class="description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
            <p class="description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
            <p class="description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
        <li class="blogs-item">
            <img src="../../img/blogs-main.webp" alt="a woman sits with a bottle on the curb" class="blogs-img">
            <h3 class="blogs-text">Bruden Mode Is Taking Care of Women</h3>
            <img src="../../img/blogs-sign.webp" alt="calendar sign" class="blogs-sign">
            <p class="blogs-subtext">April 3, 2022</p>
            <p class="description">Bruden Mode in Montreal has taken a lot of time and put a lot of effort into helping women not only look great but to be more healthy.</p>
            <a href="#" class="blogs-link">Read more</a>
        </li>
    </ul>
    <!-- list of button -->
<ul class="gallery-button-list">
    <li class="gallery-button-item">
        <button type="button" class="gallery-button">1</button>
    </li>
    <li class="gallery-button-item">
        <button type="button" class="gallery-button">2</button>
    </li>
    <li class="gallery-button-item">
        <button type="button" class="gallery-button">></button>
    </li>
</ul>
</section>