<!-- section gallery  -->
<section class="gallery">
    <h2 class="gallery-title">Insta-gallery</h2>
    <!-- list of gallery photos -->
    <ul class="gallery-list">
        <li class="gallery-item">
            <img src="../../img/gallery-photo1.webp" alt="a woman stands near a house with a backpack" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo2.webp" alt="a woman stands near a house with a backpack" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo3.webp" alt="a woman stands near a glass house with glasses" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo4.webp" alt="a woman is standing near a bench with glasses" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo5.webp" alt="a woman is standing in a shopping center in glasses with a backpack in her hands" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo6.webp" alt="a woman stands on a bridge with glasses" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo7.webp" alt="two women are standing in a bruden shop" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo8.webp" alt="a woman in glasses with a backpack stands on the street" class="gallery-img">
        </li>
        <li class="gallery-item">
            <img src="../../img/gallery-photo9.webp" alt="a woman sits on a bench with a backpack" class="gallery-img">
        </li>  
    </ul>
<!-- list of button -->
<ul class="gallery-button-list">
    <li class="gallery-button-item">
        <button type="button" class="gallery-button">1</button>
    </li>
    <li class="gallery-button-item">
        <button type="button" class="gallery-button">2</button>
    </li>
    <li class="gallery-button-item">
        <button type="button" class="gallery-button">></button>
    </li>
</ul>
</section>