<section class="things">
    <div class="container">
  <h2 class="things-title">Latest products</h2>
  <ul class="things-list">
    <li class="things-item">
      <img
        src="../../img/things-subject1.jpg"
        alt="red backpack"
        class="things-img"
      />
      <div class="things-box">
        <h3 class="things-text">Fiery Red Bruden Backpack</h3>
        <ul class="things-list-star">
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
        </ul>
        <p class="things-subtext">C$ 99.99</p>
      </div>
    </li>
    <li class="things-item">
      <img
        src="../../img/things-subject2.jpg"
        alt="black backpack"
        class="things-img"
      />
      <div class="things-box">
        <h3 class="things-text">Bruden's Backpack</h3>
        <ul class="things-list-star">
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
        </ul>
        <p class="things-subtext">C$ 99.99</p>
      </div>
    </li>
    <li class="things-item">
      <img
        src="../../img/things-subject3.jpg"
        alt="black bracelet"
        class="things-img"
      />
      <div class="things-box">
        <h3 class="things-text">Bruden Belt</h3>
        <ul class="things-list-star">
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
        </ul>
        <p class="things-subtext">C$ 99.99</p>
      </div>
    </li>
    <li class="things-item">
      <img
        src="../../img/things-subject4.jpg"
        alt="white backpack"
        class="things-img"
      />
      <div class="things-box">
        <h3 class="things-text">Sweet Pink Bruden Backpack</h3>
        <ul class="things-list-star">
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
        </ul>
        <p class="things-subtext">C$ 99.99</p>
      </div>
    </li>
    <li class="things-item">
      <img
        src="../../img/things-subject5.jpg"
        alt="glasses"
        class="things-img"
      />
      <div class="things-box">
        <h3 class="things-text">POS</h3>
        <ul class="things-list-star">
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
        </ul>
        <p class="things-subtext">C$ 99.99</p>
      </div>
    </li>
    <li class="things-item">
      <img
        src="../../img/things-subject6.jpg"
        alt="glasses"
        class="things-img"
      />
      <div class="things-box">
        <h3 class="things-text">MTL</h3>
        <ul class="things-list-star">
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
          <li class="star-item">
            <img
              src="../../img/things-stars.webp"
              alt="star"
              class="things-stars"
            />
          </li>
        </ul>
        <p class="things-subtext">C$ 99.99</p>
      </div>
    </li>
  </ul>
  <ul class="things-button-list">
    <li class="things-button-item">
      <button class="things-button">
        <img
          class="things-arrow"
          src="../../img/things-left-arrow.webp"
          alt="arrow"
        />
      </button>
    </li>
    <li class="things-button-item">
      <button class="things-button">
        <img
          class="things-arrow"
          src="../../img/things-right-arrow.webp"
          alt="arrow"
        />
      </button>
    </li>
  </ul>
</div>
</section>
