<section class="things">
    <h2 class="things-title">Latest products</h2>
    <ul class="things-list">
        <li class="things-item">
            <img src="../../img/things-subject1.jpg" alt="red backpack" class="things-img">
            <h3 class="things-text">Fiery Red Bruden Backpack</h3>
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <p class="things-subtext">C$ 99.99</p>
        </li>
        <li class="things-item">
            <img src="../../img/things-subject2.jpg" alt="black backpack" class="things-img">
            <h3 class="things-text">Bruden's Backpack</h3>
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <p class="things-subtext">C$ 99.99</p>
        </li>
        <li class="things-item">
            <img src="../../img/things-subject3.jpg" alt="black bracelet" class="things-img">
            <h3 class="things-text">Bruden Belt</h3>
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <p class="things-subtext">C$ 99.99</p>
        </li>
        <li class="things-item">
            <img src="../../img/things-subject4.jpg" alt="white backpack" class="things-img">
            <h3 class="things-text">Sweet Pink Bruden Backpack</h3>
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <p class="things-subtext">C$ 99.99</p>
        </li>
        <li class="things-item">
            <img src="../../img/things-subject5.jpg" alt="glasses" class="things-img">
            <h3 class="things-text">POS</h3>
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <p class="things-subtext">C$ 99.99</p>
        </li>
        <li class="things-item">
            <img src="../../img/things-subject6.jpg" alt="glasses" class="things-img">
            <h3 class="things-text">MTL</h3>
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <img src="../../img/things-stars.webp" alt="star" class="things-stars">
            <p class="things-subtext">C$ 99.99</p>
        </li>
    </ul>
</section>