.category-title{
text-align: center;
color: #000;
font-family: 'Cormorant';
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
padding-bottom: 60px;
display: flex;
flex-direction: column;
gap: 10px;
}

.category-title::after{
content: '';
display: block;
text-align: center;
height: 1px;
background: red;
width: 100px;
align-self: center;
}

.category-list{
display: flex;
gap: 40px;
justify-content: center;
align-items: center;
}

.category-item:hover{
box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.15);
}

.category-img{
width: 360px;
height: 290px;
}

.category-description{
color: #000;
text-align: center;
font-family: 'Cormorant';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
text-transform: capitalize;
padding-top: 21px;
padding-bottom: 20px;
}

.category-img-chevron{
width: 50px;
height: 50px;
}

.category-button{
background-color: white;
border: white;
}

.category-button:hover{
    background-color: #D0CCCC
}

.category-button-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 90px;
}

.line{
    background: #DE1616;
    width: 100px;
}

/* .category-item{
display: flex;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 21px;
} */

