.video-title{
color: #FFF;
text-align: right;
font-family: 'Cormorant';
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 1.6;
letter-spacing: 2.8px;
text-transform: capitalize;
max-width: 232px;
height: 180px;
flex-shrink: 0;
padding-top: 40px;
padding-right: 40px;
}

.container-category{
background-image: url(../../img/video-img.webp);
background-repeat: no-repeat;
background-size: cover;
height: 700px;
display: flex;
align-items: flex-end;
flex-direction: column;
justify-content: space-between;
}

.video-button{
display: flex;
padding: 14px 28px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--black, #292A33);
font-family: 'Josefin Sans';
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.7px;
text-transform: uppercase;
background: #FFF;
display: flex;
align-self: flex-end;
margin-bottom: 40px;
margin-right: 40px;
text-align: center;
}

.video-button:hover{
background: #292A33;
color: #FFF;
font-family: 'Josefin Sans';
font-size: 18px;
font-style: normal;
font-weight: 300;
letter-spacing: 2.7px;
text-transform: uppercase;
text-align: center;
}