<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link type="image/svg+xml" href="/favicon.svg" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruden</title>
  </head>
  <body>
<section class="contacts">
    <div class="container">
    <h1 class="contacts-title">Contact Us</h1>
    <div class="container-info">
    <div class="contacts-box">
    <h2 class="contacts-subtitle">Our contact</h2>
        <ul class="contacts-list">
          <li class="contacts-item">
            <h3 class="contacts-item-title">address:</h3>
            <address class="contacts-info">street, town, ZIP code</address>
          </li>
          <li class="contacts-item">
            <h3 class="contacts-item-title">phone-numbers:</h3>
            <a class="contacts-info" href="tell:+10000000000">+1 - 000 - 000 - 0000</a>
          </li>
          <li class="contacts-item">
            <h3 class="contacts-item-title">Email:</h3>
            <a class="contacts-info" href="mailto:email@mail.com">email@mail.com</a>
        </li>  
        </ul>
    </div>
    <div class="container-contacts">
            <h2 class="contacts-subtitle">Leave a reply</h2>
            <ul class="contacts-form">
                <li class="contacts-form-item">            
            <p class="contacts-lable">Your Name</p>
            <input class="contacts-input-lable" type="text" title="text"></li>
                <li class="contacts-form-item">
            <p class="contacts-lable">Your E-mail</p>
            <input class="contacts-input-lable" type="text" title="Email">
                </li>
                <li class="contacts-form-item">
            <p class="contacts-lable">Subject</p>
            <input class="contacts-input-lable" type="text" title="Subject">
                </li>
                <li class="contacts-form-item">
            <p class="contacts-lable">Your Message (Optional)</p>
            <input class="contact-input-lable" type="text" title="Your Message">
            <button class="contacts-button" type="button">SHOP NOW</button>
            </li>
</ul>
    </div>
    <load ="../repeating-elements/panel.html" />
    </div>
    <iframe class="contacts-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d168790.17734522893!2d38.02674478972666!3d48.62235070102358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dfe61bf724c5a7%3A0xa398e255ecbfeec2!2z0JHQsNGF0LzRg9GCLCDQlNC-0L3QtdGG0LrQsNGPINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1694794443971!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
  </body>
</html>