<section class="contact-as">
    <h1 class="contact-title">Contact Us</h1>
    <ul class="contact-list">
        <li class="info-item">
            <h2 class="contact-subtitle">Our contact</h2>
            <h3 class="address">address:</h3>
            <p class="contact-info">street, town, ZIP code</p>
            <h3 class="phone-numbers">phone-numbers:</h3>
            <p class="contact-info">+1 - 000 - 000 - 0000</p>
            <h3 class="Email">Email:</h3>
            <p class="contact-info">email@mail.com</p>
        </li>

        <li class="contact-registration">
            <h2 class="contact-subtitle">Leave a reply</h2>
            <p class="your-info">Your Name</p>
            <input class="contact-input" type="text">
            <p class="your-info">Your E-mail</p>
            <input class="contact-input" type="text">
            <p class="your-info">Subject</p>
            <input class="contact-input" type="text">
            <p class="your-info">Your Message (Optional)</p>
            <input type="text" class="contact-input">
            <button class="contact-bth">SHOP NOW</button>
        </li>

        <img src="./img/Rectangle 68.webp" alt="re">

    </ul>
</section>