<section class="contacts">
    <div class="container">
    <h1 class="contact-title">Contact Us</h1>
    <div class="contacts-box">
    <h2 class="contacts-subtitle">Our contact</h2>
        <ul class="contacts-list">
          <li class="contacts-item">
            <h3 class="contacts-item-title">address:</h3>
            <address class="contacts-info">street, town, ZIP code</address>
          </li>
          <li class="contacts-item">
            <h3 class="contacts-item-title">phone-numbers:</h3>
            <a href="tell:+10000000000" class="contacts-info">+1 - 000 - 000 - 0000</a>
          </li>
          <li class="contacts-item">
            <h3 class="contacts-item-title">Email:</h3>
            <a href="mailto:email@mail.com" class="contacts-info">email@mail.com</a>
        </li>  

        </ul>
    </div>

    <div class="contacts-box">
            <h2 class="contact-subtitle">Leave a reply</h2>
            <ul class="contacts-form">
                <li class="contacts-form-item">            
            <label class="contacts-lable">Your Name</label>
            <input class="contacts-input-lable" type="text" title="text"></li>
                <li class="contacts-form-item">
            <lable class="contacts-lable">Your E-mail</lable>
            <input class="contacts-input-lable" type="text" title="text">
                </li>
                <li class="contacts-form-item">
            <lable class="contacts-lable">Subject</lable>
            <input class="contacts-input-lable" type="text" title="text">
                </li>
                <li class="contacts-form-item">
            <label class="contacts-lable">Your Message (Optional)</label>
            <input class="contacts-input-lable" type="text" title="text">
            <button type="button" class="contacts-button">SHOP NOW</button>
            </li>
</ul>
    </div>
        <img class="contacts-img" src="./Rectangle 68.webp" alt="re">
    </div>
</section>