.gallery .container {
    padding-bottom: 90px;
}

.gallery-title {    
    font-family: 'Cormorant';
font-size: 28px;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
color: #000;

text-align: center;

justify-content: center;
margin-bottom: 60px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 40px;
    margin-bottom: 40px;
}

.gallery-img {
    max-width: 360px;
    max-height: 360px;
}

.gallery-button-list {  
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.gallery-button {
    color: #000;
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;

    display: block;
    padding: 6px 12px;
    border: none;
}

.gallery-button:hover {
    background-color: var(--black, #292A33);
    color: #FFF;
}