<footer class="footer">
    <div class="footer-line"></div>
    <div class="container">
        <div class="footer-box">
            <a href="#" class="footer-logo">
                <img src="../../img/header-logo-min.jpg" alt="logo" class="footer-logo-img">
            </a>
            <a href="#" class="footer-inst">
                <img src="../../img/header-instagram-min.jpg" alt="instagram" class="footer-inst-img">
                @brudenmtl
            </a>
            <p class="footer-text">©2022 by Bruden Mode. Proudly created with </p>
        </div>
        <ul class="footer-list">
            <li class="footer-item">
                <h2 class="footer-list-title">Shop</h2>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Bags</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Belts</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Sunglasses</a>
                    </li>
                </ul>
            </li>
            <li class="footer-item">
                <h2 class="footer-list-title">Account</h2>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Orders</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Checkout</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">My Account</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Account Details</a>
                    </li>
                </ul>
            </li>
            <li class="footer-item">
                <h2 class="footer-list-title">Information</h2>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">FAQ’s</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../contact-us.html" class="footer-link">Contact Us</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../privacy-policy.html" class="footer-link">Privacy Policy</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Return policy</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Shipping Policy</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="../../partials/coming-soon-page/coming.html" class="footer-link">Terms and Conditions</a>
                    </li>
                </ul>
            </li>
            <li class="footer-item">
                <h2 class="footer-list-title">Contacts</h2>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="mailto:email@mail.com" class="footer-link">email@mail.com</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="tel:+10000000000" class="footer-link">+1-000-000-0000</a>
                    </li>
                    <li class="footer-menu-item">
                    <address class="footer-adress">Bld, Street, town, ZIP Code </address>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>