<header class="header">
    <a href="#" class="header-logo">
        <img src="../../img/header-logo-min.jpg" alt="logo" class="header-logo-img">
    </a>
    <nav class="header-menu">
        <ul class="header-nav">
            <li class="header-nav-item">
                <a href="#" class="header-link">Home</a>
            </li>
            <li class="header-nav-item">
                <a href="#" class="header-link">Shop</a>
            </li>
            <li class="header-nav-item">
                <a href="#" class="header-link">Blog</a>
            </li>
            <li class="header-nav-item">
                <a href="#" class="header-link">About Us</a>
            </li>
            <li class="header-nav-item">
                <a href="#" class="header-link">Contact Us</a>
            </li>
        </ul>
    </nav>
    <ul class="header-buttons">
        <li class="header-button">
            <button class="header-button" type="button">
                <img src="../../img/header-instagram-min.jpg" alt="instagram" class="header-button-img">
            </button>
        </li>
        <li class="header-button">
            <button class="header-button" type="button">
                <img src="../../img/header-search-min.jpg" alt="search" class="header-button-img">
            </button>
        </li>
        <li class="header-button">
            <button class="header-button" type="button">
                <img src="../../img/header-account-min.jpg" alt="account" class="header-button-img">
            </button>
        </li>
        <li class="header-button">
            <button class="header-button" type="button">
                <img src="../../img/header-basket-min.jpg" alt="basket" class="header-button-img">
                <p class="basket-items">0</p>
                <p class="basket-price">$ 00.00</p>
            </button>
        </li>
    </ul>
</header>