<aside class="panel">
    <ul class="panel-list">
        <li class="panel-item">
            <h2 class="panel-title">Archives</h2>
            <ul class="panel-archives">
                <li class="panel-archives-item">
                    <a href="#" class="panel-archives-link">
                        March 2022 
                        <span class="archives-number">(1)</span>
                    </a>
                </li>
                <li class="panel-archives-item">
                    <a href="#" class="panel-archives-link">
                        February 2022 
                        <span class="archives-number">(2)</span>
                    </a>
                </li>
                <li class="panel-archives-item">
                    <a href="#" class="panel-archives-link">
                        January 2022 
                        <span class="archives-number">(3)</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="panel-item">
            <h2 class="panel-title">Categories</h2>
            <ul class="panel-categories">
                <li class="panel-categories-item">
                    <a href="#" class="panel-categories-link">
                        Electric
                        <span class="categories-number">(3)</span>
                    </a>
                </li>
                <li class="panel-categories-item">
                    <a href="#" class="panel-categories-link">
                        Fan
                        <span class="categories-number">(2)</span>
                    </a>
                </li>
                <li class="panel-categories-item">
                    <a href="#" class="panel-categories-link">
                        Machine
                        <span class="categories-number">(2)</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="panel-item">
            <h2 class="panel-title">Recent Posts</h2>
            <ul class="panel-posts">
                <li class="panel-posts-item">
                    <a href="#" class="panel-posts-link">
                        <img src="../../img/panel-posts-img-min.jpg" alt="photo" class="panel-posts-img">
                        <div class="panel-posts-text">
                            <h3 class="panel-posts-title">Bruden Mode ...</h3>
                            <p class="panel-posts-text">April 3, 2022</p>
                        </div>
                    </a>
                </li>
                <li class="panel-posts-item">
                    <a href="#" class="panel-posts-link">
                        <img src="../../img/panel-posts-img-min.jpg" alt="photo" class="panel-posts-img">
                        <div class="panel-posts-text">
                            <h3 class="panel-posts-title">Bruden Mode ...</h3>
                            <p class="panel-posts-text">April 3, 2022</p>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</aside>