<section class="backpack-section">
    <ul class="backpack-list">
        <li class="backpack-item">
            <img class="backpack-img" src="../../img/backpack-girl1.webp" alt="girl">
            <h1 class="backpack-title">New arrival</h1>>
            <p class="backpack-description">Exclusive Denisha Bruce Red Backpack Launch</p>
            <button class="backpack-button" type="button">SHOP NOW</button>
        </li>
        <li class="backpack-item">
            <img class="backpack-img" src="../../img/backpack-girl2.webp" alt="girl">
            <h2 class="backpack-title">An addition to all your fits</h2>>
            <button class="backpack-button" type="button">SHOP NOW</button>
        </li>
    </ul>
</section>