<h2 class="category-title">Shop By Category</h2>
<ul class="category-list">
  <li class="category-item">
    <img class="category-img" src="../../img/category1.webp" alt="Bags" />
    <p>Bags</p>
  </li>
  <li class="category-item">
    <img class="category-img" src="../../img/category2.webp" alt="Sunglasses" />
    <p>Sunglasses</p>
  </li>
  <li class="category-item"> 
    <img class="category-img" src="../../img/category3.webp" alt="Belts" />
    <p>Belts</p>
  </li>
</ul>
<ul class="category-button-list">
  <li class="category-button-item">
    <button type="button" class="category-button"> <img class="category-img" src="../../img/left-chevron.webp" alt="chevron"> </button>
  </li>
  <li class="category-button-item">
    <button type="button" class="category-button"> <img class="category-img" src="../../img/right-chevron.webp" alt="chevron"> </button>
  </li>
</ul>
