<section class="deals-section">
  <h4 class="deal-title">Deal of the week</h4>
  <ul>
    <li>
      <img
        class="deal-backpack"
        src="../../img/deal-of-the-week1.webp"
        alt="backpack"
      />
      <h5 class="backpack-title">Fiery Red Bruden Backpack</h5>
      <ul class="star-list">
        <li>
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
      </ul>
      <p class="deal-price">C$ 99.99</p>
      <p class="deal-description">
        Bruden's Backpack will give all your essentials a home while still
        feeling comfortable and having a...
      </p>
      <button class="deal-button" type="button">Add To Cart</button>
      <img class="deal-heart" src="../../img/heart.webp" alt="heart" />
      <img class="deal-eye" src="../../img/eye.webp" alt="eye" />
    </li>
    <li>
      <img
        class="deal-backpack"
        src="../../img/deal-of-the-week2.webp"
        alt="backpack"
      />
      <h6 class="backpack-title">Bruden's Backpack</h6>
      <ul>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
        <li class="star-item">
          <img class="deal-star" src="../../img/star.webp" alt="star" />
        </li>
      </ul>
      <p class="deal-price">C$ 66.49</p>
      <p class="deal-description">
        Bruden's Backpack will give all your essentials a home while still
        feeling comfortable and having a...
      </p>
      <button class="deal-button" type="button">Add To Cart</button>
      <img class="deal-heart" src="../../img/heart.webp" alt="heart" />
      <img class="deal-eye" src="../../img/eye.webp" alt="eye" />
    </li>
  </ul>
</section>
