<section class="deals-section">
  <div class="container deal-container">
    <h2 class="deal-title">Deal of the week</h2>
    <ul class="deal-list">
      <li class="deal-item">
        <img
          class="deal-backpack"
          src="../../img/deal-of-the-week1.webp"
          alt="backpack"
        />
        <div class="deal-box">
          <h3 class="backpack-title">Fiery Red Bruden Backpack</h3>
          <ul class="star-list">
            <li>
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
          </ul>
          <p class="deal-price">C$ 99.99</p>
          <p class="deal-description">
            Bruden's Backpack will give all your essentials a home while still
            feeling comfortable and having a...
          </p>
          <div class="deal-button-eye">
          <button class="deal-button" type="button">Add To Cart</button>
          <ul class="deal-eye-list">
            <li class="deal-eye-item">
          <img class="deal-heart" src="../../img/heart.webp" alt="heart" />
          </li>
          <li class="deal-eye-item">
          <img class="deal-eye" src="../../img/eye.webp" alt="eye" />
          </li>
          </ul>
          </div>
        </div>
      </li>
      <li class="deal-item">
        <img
          class="deal-backpack"
          src="../../img/deal-of-the-week2.webp"
          alt="backpack"
        />
        <div class="deal-box">
          <h3 class="backpack-title">Bruden's Backpack</h3>
          <ul class="star-list">
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
            <li class="star-item">
              <img class="deal-star" src="../../img/star.webp" alt="star" />
            </li>
          </ul>
          <p class="deal-price">C$ 66.49</p>
          <p class="deal-description">
            Bruden's Backpack will give all your essentials a home while still
            feeling comfortable and having a...
          </p>
            <div class="deal-button-eye">
          <button class="deal-button" type="button">Add To Cart</button>
          <ul class="deal-eye-list">
            <li class="deal-eye-item">
          <img class="deal-heart" src="../../img/heart.webp" alt="heart" />
          </li>
          <li class="deal-eye-item">
          <img class="deal-eye" src="../../img/eye.webp" alt="eye" />
          </li>
          </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul class="list-button">
      <li class="deal-button-chevron">
        <button class="deal-button-chevron" type="button">
          <img class="button-img" src="../../img/left-chevron.webp" alt="left-chevron" />
        </button>
      </li>
      <li class="deal-button-chevron">
        <button class="deal-button-chevron" type="button">
          <img class="button-img" src="../../img/right-chevron.webp" alt="right-chevron" />
        </button>
      </li>
    </ul>
  </div>
</section>
