<section class="news-section">
  <h1 class="news-title">Latest News</h1>
  <ul class="news-list">
    <li class="news-item">
      <img src="../../img/latest-news1.webp" alt="girl" />
      <p>April 3 - 2 min read</p>
      <h1 class="card-title">Bruden Mode Is Taking Care of Women</h1>
      <p class="card-description">
        Bruden Mode in Montreal has taken a lot of time and put a lot of effort
        into helping women not only look great but to be more healthy.
      </p>
      <p class="read-more">Read more</p>
    </li>
    <li class="news-item">
      <img src="../../img/latest-news2.webp" alt="girl" />
      <p>Mar 3 - 2 min read</p>
      <h1 class="card-title">Bruden Mode Accessories</h1>
      <p class="card-description">
        Finding the perfect little thing that compliments your wardrobe can give
        you the confidence and the feeling you love to be your best.
      </p>
      <p class="read-more">Read more</p>
    </li>
    <li class="news-item">
      <img src="../../img/latest-news3.webp" alt="girl" />
      <p>Jan 4 - 3 min read</p>
      <h1 class="card-title">Different Types of Backpacks</h1>
      <p class="card-description">
        Different backpacks do different things and serve various purposes.
      </p>
      <p class="read-more">Read more</p>
    </li>
  </ul>
</section>
