<section class="news-section">
  <div class="container">
    <h2 class="news-title">Latest News</h2>
    <ul class="news-list">
      <li class="news-item">
        <p class="news-date">April 3 - 2 min read</p>
        <div class="news-card-box">
          <img class="news-img" src="../../img/latest-news1.webp" alt="girl" />
          <h3 class="card-title">Bruden Mode Is Taking Care of Women</h3>
          <p class="card-description">
            Bruden Mode in Montreal has taken a lot of time and put a lot of effort
            into helping women not only look great but to be more healthy.
          </p>
          <a class="read-more" href="../../../src/coming-soon.html">Read more</a>
        </div>
      </li>
      <li class="news-item">
        <p class="news-date">Mar 3 - 2 min read</p>
        <div class="news-card-box">
          <img class="news-img" src="../../img/latest-news2.webp" alt="girl" />
          <h3 class="card-title">Bruden Mode Accessories</h3>
          <p class="card-description">
            Finding the perfect little thing that compliments your wardrobe can give
            you the confidence and the feeling you love to be your best.
          </p>
          <a class="read-more" href="../../../src/coming-soon.html">Read More</a>
        </div>
      </li>
      <li class="news-item">
        <p class="news-date">Jan 4 - 3 min read</p>
        <div class="news-card-box">
          <img class="news-img" src="../../img/latest-news3.webp" alt="girl" />
          <h3 class="card-title">Different Types of Backpacks</h3>
          <p class="card-description">
            Different backpacks do different things and serve various purposes.
          </p>
          <a class="read-more" href="../../../src/coming-soon.html">Read More</a>
        </div>
      </li>
    </ul>
      <ul class="news-button-list">
      <li class="news-button-item">
        <button type="button" class="news-button">
          <img
            class="news-button-img"
            src="../../img/left-chevron.webp"
            alt="chevron"
          />
        </button>
      </li>
      <li news-button-item>
        <button type="button" class="news-button">
          <img
            class="news-button-img"
            src="../../img/right-chevron.webp"
            alt="chevron"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
