<section class="privacy-policy">
  <div class="container">

    <h1 class="policy-title">Privacy Policy</h1>

    <!-- panel  -->

<div class="policy-box">
  <load ="../repeating-elements/panel.html" /> 

  <div>

  <p class="policy-subtitle">
 We know that in this digital age, your privacy is important. This Privacy Policy reflects our commitment to protect personal data and the choices we offer you regarding how your data is used. We welcome you to read more about how we keep your information safe, as well as how you can exercise your rights. In addition, our Privacy policy covers our treatment of data that may be personal to you. <br>
  <br> We will review, update, and amend these policies from time to time consistent with our business needs and technology. We encourage you to check back periodically for new updates or changes. Your continued use of the service makes up your acceptance of any change to this Privacy Policy. We are the data controller of your information. We handle and process all data on behalf of our customers <br>
    
    <br>You may likewise decide not to give us "discretionary" Personal Data; however please remember that without it, we will most likely be unable to provide you with the full scope of our administrations or with the best client experience when utilizing our Services. <br>
    
   <br> This Privacy Policy (“Privacy Policy”) describes how Bruden Mode. will gather, use, and maintain your Personal Information on the brudenmode.com. It will also explain your legal rights with respect to that information. <br>
    
   <br> Our website is hosted on Wix Platform, Please review their privacy policy, or click here. <br>
    
    <br>By using the website or services, you confirm that you have read and understand this Privacy Policy, and our Terms (together referred to herein as the “Agreement”). The Agreement governs the use of brudenmode.com. Bruden Mode will collect, use, and maintain information consistent with the Agreement. <br>
  </p>




<ul class="policy-list">
  <li class="policy-item">
    <h2 class="policy-text">What private data do we collect from the people who visit our website?</h2>
    <p class="policy-subtext">
     When enlisting on our site or buying Products, as suitable, you could be approached to type in your name, email, postage information, payment information, or different subtleties to assist you with your experience. <br>
  
  <br> Personal Data: Personal Data is information that can be used to identify you specifically, including your name, email address, telephone number, or demographic information like your hometown. You consent to give us this information by providing it to us voluntarily on our website. Your decision to disclose this data is entirely voluntary. You are under no obligation to provide this information, but your refusal may prevent you from accessing certain benefits from our website. <br>
  
  <br> Financial Data: Financial data is related to your payment methods, such as credit card or bank transfer details. We collect financial data to allow you to purchase, order, return or exchange products or services from our website. We store limited financial data. Most financial data is transferred to our payment processor, PayPal, and Stripe and you should review these processors' Privacy Policy to determine how they use, disclose, and protect your financial data. <br>
  
  <br> As a courtesy, PayPal Privacy Policy can be found here <a class="policy-link" href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">https://www.paypal.com/us/webapps/mpp/ua/privacy-full</a> <br>
  
  <br> Stripe Privacy Policy can be found here <a class="policy-link" href="https://stripe.com/gb/privacy">https://stripe.com/gb/privacy</a> 
    </p>
  </li>
  <li class="policy-item">
    <h2 class="policy-text">Automatically collected information about your use of our Services or tools</h2>
    <p class="policy-subtext">
      This information is registered automatically with the visit by own configuration or manual of each tool on the website <br>

<br> When you visit, connect with, or utilize our service, we may gather, record, or create specific specialized data about you. We do so either autonomously or with the assistance of third gathering Service Providers, including using "cookies" and other following innovations. <br>

 <br> We automatically collect certain information when you visit, use or navigate the Website. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Website and other technical information. This information is primarily needed to maintain the security and operation of our Website, and for our internal analytics and reporting purposes.
    </p>
  </li>

<li class="policy-item">
  <h2 class="policy-text">Do Not Track</h2>
  <p class="policy-subtext"> 
 Currently, various browsers — such as Internet Explorer, Firefox, and Safari — offer a “do not track” or “DNT” option that relies on a technology known as a DNT header, which sends a signal to Web sites’ visited by the user about the user's browser DNT preference setting. <br>

  <br>  Bruden Mode does not currently commit to responding to browsers' DNT signals with respect to the Company's Web sites, in part, because no common industry standard for DNT has been adopted by industry groups, technology companies or regulators, including no consistent standard of interpreting user intent. Bruden Mode takes privacy and meaningful choice seriously and will make efforts to continue to monitor developments around DNT browser technology and the implementation of a standard.
</p>
</li>
<li class="policy-item">
  <h2 class="policy-text">How do we use your details?</h2>
  <p class="policy-subtext">
    We process personal data to operate, improve, understand, and personalize our services. We use personal data for the following purposes: <br>

   <br> To meet or fulfill the reason you provided the information to us. <br>
    
  <br>  To validate, confirm, verify, deliver, install, and track your order (including to process payment card transactions, arrange for shipping, handle returns and refunds, maintain a record of the purchases you make, and contact you about your orders, including by telephone) or to service products you purchased from us. <br>
    
   <br> To enhance your online shopping experience, including to recognize you and welcome you to the Site. <br>
    
   <br> To send you catalogs, information, newsletters, promotional materials, and other offerings from the Company or on behalf of our partners and affiliates. <br>
    
   <br> To communicate with you about the Services, including Service announcements, updates or offers.<br> 
    
   <br> Correspond with you; and <br> 
    
   <br>  To provide certain features or functionality of the services on the site.<br> 
    
   <br>   To create, maintain, customize, and secure your account with us.<br> 
    
   <br>  To provide you with support, to communicate with you and respond to your inquiries, including to investigate and address your concerns and monitor and improve our responses.<br> 
    
   <br>  To prevent illegal activity, fraud, and abuse.<br> 
    
   <br>  To help our site that will be ready to serve you better.<br> 
    
   <br>  We will not collect additional categories of Personal Data or use the Personal Data we collected for materially different, unrelated, or incompatible purposes without providing you notice.<br> 
    
   <br>   As noted in the list above, we may communicate with you if you've provided us the means to do so. For example, if you've given us your email address, we may send you promotional email offers or email you about your use of the Services. Also, we may receive a confirmation when you open an email from us, which helps us improve our services. If you do not want to receive communications from us, please indicate your preference by contacting us.
  </p>
</li>
<li class="policy-item">
  <h2 class="policy-text">How we use cookies</h2>
  <p class="policy-subtext">
    We use cookies and similar technologies for several purposes, depending on the context or service, including: We use cookies and similar technologies for several purposes, depending on the context or service, including: <br> 

<br>   Recognizing you if you sign in to use our offerings. This allows us to provide you with recommendations, display personalized content, and provide other customized features and services.<br> 

<br> Keeping track of your specified preferences. This allows us to honor your likes and dislikes, such as your language and configuration preferences.<br> 

<br> Detecting and preventing fraudulent activity and improving security.<br> 

<br> Conducting research and diagnostics to improve our offerings.<br> 

 <br> Reporting, which allows us to measure and analyze the performance of our offerings.
</p>
</li>
</ul>
</div>
</div>
</div>
</section>
