<section class="info">
<div class="container">

<ul class="info-list">
    <li class="info-item">
        <h2 class="info-title">Unique size for maximum comfort</h2>
        <p class="info-info">
            Our backpacks are not normal-sized.
            They are made in a mini size
            since this really is an
            alternative to a handbag,
            not solely in size but also
            in how you wear it.
        </p>
    </li>
</ul>
<ul class="info-list">
    <li class="info-item">
        <h2 class="info-title">A Healthy back and straight posture</h2>
        <p class="info-info">
            Two shoulder straps distribute the
            weight more evenly across the back.
            This will make women feel more comfortable
            while walking and reduces the likelihood of
            muscle spasms and poor posture
        </p>
    </li>
</ul>
<ul class="info-list">
    <li class="info-item">
        <h2 class="info-title">An alternative to carrying a handbag</h2>
        <p class="info-info">
            Our number one product, Bruden's Backpack was created for
            those who need an alternative to wearing a handbag. Those who prefer to
            wear their bags on their back than on just one shoulder
        </p>
    </li>
</ul>
</div>
</section>