<section class="shops">
    <div class="container">
        <h1 class="shops-title">Shop</h1>
        <div class="shops-content">
            <aside class="shops-panel">
                <h2 class="shops-panel-title">Filter by price</h2>
                <input type="range" class="shops-panel-range">
                <button class="shops-panel-filter" type="button">FILTER</button>
                <p class="shops-panel-price">Price $30 - $110</p>
                <h2 class="shops-panel-title">Product tags</h2>
                <ul class="shops-panel-list">
                    <li class="shops-panel-item">
                        <button class="shops-panel-button" type="button">Bags</button>
                    </li>
                    <li class="shops-panel-item">
                        <button class="shops-panel-button" type="button">Sunglasses</button>
                    </li>
                    <li class="shops-panel-item">
                        <button class="shops-panel-button" type="button">Belts</button>
                    </li>
                </ul>
            </aside>
            <div class="shops-page">
                <div class="shops-menu">
                    <ul class="shops-menu-buttons">
                        <li class="shops-menu-item">
                            <button class="shops-menu-button">
                                <img src="../../img/shops-menu-button1-min.jpg" alt="grid">
                            </button>
                        </li>
                        <li class="shops-menu-item">
                            <button class="shops-menu-button">
                                <img src="../../img/shops-menu-button2-min.jpg" alt="list">
                            </button>
                        </li>
                    </ul>
                    <p class="shops-menu-text">Showing 1–12 of 15 results</p>
                    <select name="sorting" id="sorting" class="shops-menu-sorting">
                        <option value="">Default sorting</option>
                        <option value="price">Sort by price</option>
                    </select>
                </div>
                <ul class="shops-list">
                    <li class="shops-item">
                        <img src="../../img/shops-img1-min.jpg" alt="red backpack" class="shops-img">
                        <div class="shops-card">
                            <h2 class="shops-card-title">Fiery Red Bruden Backpack</h2>
                            <ul class="shops-stars-box">
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                            </ul>
                            <p class="shops-card-price">C$ 99.99</p>
                            <p class="shops-card-text">
                                Bruden's Backpack will give all your essentials a
                                home while still feeling comfortable and having a fashionable look. 
                                Have your handsfree with this bag and don’t worry about getting your bag dirty 
                                if you need both hands to eat or if you don’t want it in the way of your shopping.
                            </p>
                            <ul class="card-buttons">
                                <li class="card-buttons-item">
                                    <button class="card-button">
                                        <img src="../../img/card-button-img1-min.jpg" alt="heart" class="card-button-img">
                                    </button>
                                </li>
                                <li class="card-buttons-item">
                                    <button class="card-button">
                                        <img src="../../img/card-button-img2-min.jpg" alt="eye" class="card-button-img">
                                    </button>
                                </li>
                                <li class="card-buttons-item">
                                    <button class="card-button">
                                        <img src="../../img/card-button-img3-min.jpg" alt="cart" class="card-button-img">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="shops-item">
                        <img src="../../img/shops-img2-min.jpg" alt="black backpack" class="shops-img">
                        <div class="shops-card">
                            <h2 class="shops-card-title">Bruden's Backpack</h2>
                            <ul class="shops-stars-box">
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                                <li class="shops-star-item">
                                    <img src="../../img/things-stars.webp" alt="star" class="shops-star">
                                </li>
                            </ul>
                            <p class="shops-card-price">C$ 99.99</p>
                            <p class="shops-card-text">
                                Bruden's Backpack will give all your essentials a
                                home while still feeling comfortable and having a fashionable look. 
                                Have your handsfree with this bag and don’t worry about getting your bag dirty 
                                if you need both hands to eat or if you don’t want it in the way of your shopping.
                            </p>
                            <ul class="card-buttons">
                                <li class="card-buttons-item">
                                    <button class="card-button">
                                        <img src="../../img/card-button-img1-min.jpg" alt="heart" class="card-button-img">
                                    </button>
                                </li>
                                <li class="card-buttons-item">
                                    <button class="card-button">
                                        <img src="../../img/card-button-img2-min.jpg" alt="eye" class="card-button-img">
                                    </button>
                                </li>
                                <li class="card-buttons-item">
                                    <button class="card-button">
                                        <img src="../../img/card-button-img3-min.jpg" alt="cart" class="card-button-img">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="shops-buttons-list">
                    <li class="shops-buttons-item">
                        <button type="button" class="shops-button">1</button>
                    </li>
                    <li class="shops-buttons-item">
                        <button type="button" class="shops-button">2</button>
                    </li>
                    <li class="shops-buttons-item">
                        <button type="button" class="shops-button">></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>