/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./repeating-elements/header.css');
@import url('./repeating-elements/footer.css');
@import url('./repeating-elements/panel.css');
@import url('./repeating-elements/products.css');
@import url('./about-us/about.css');
@import url('./about-us/info.css');
@import url('./blog/blogs.css');
@import url('./blog/gallery.css');
@import url('./blog/things.css');
@import url('./coming-soon/coming.css');
@import url('./contact-us/contacts.css');
@import url('./main/backpack.css');
@import url('./main/banner.css');
@import url('./main/category.css');
@import url('./main/deals.css');
@import url('./main/hero.css');
@import url('./main/news.css');
@import url('./main/video.css');
@import url('./privacy-policy/policy.css');
@import url('./shop/shops.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container{
  width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
